@import 'src/style/common.scss';

.home-page{
    height: 100%;
    display: flex;
    flex-direction: column;
    .main-content{
        flex: 1;
        display: flex;
        background: $global_background;
    }
}