
$global_background: #f7f6f9;
$global_common: #1890ff;
$global_border_color: #e7e7e7;

$global_font20: 20px;
$global_font18: 18px;
$global_font16: 16px;
$global_font14: 14px;
$global_font12: 12px;